.div1{
  margin:auto;
  padding: 5%;
  width: 35%;
  margin-top: 30px;
}
.div2{
  margin:auto;
  padding: 5%;
  width: 50%;
  margin-top: 30px;
}
.div3{
  width: 40%;
  margin:auto;
}
